body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-black {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(30 30 30) !important;
}
.black{
  
  background-color: rgba(30, 30, 30, 0.733) !important;
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&family=Noto+Kufi+Arabic:wght@400;700&display=swap');

/* You can also apply styles globally to text elements with Arabic */
html[lang="ar"] {
  font-family: 'Calibri', sans-serif !important;
  

}

/* You can also specify styles for text in English */
html[lang="en"] {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
}
