body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.arabic-text{
  
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-black {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(30 30 30) !important;
}
.black{
  
  background-color: rgba(30, 30, 30, 0.733) !important;
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&family=Noto+Kufi+Arabic:wght@400;700&display=swap');

* {
  font-family: 'Josefin Sans', 'Noto Kufi Arabic', sans-serif;
}
