.black {
  background-color: rgba(30, 30, 30, 0.733) !important;
  min-height: 100vh;
  color: #f5f5f5;
}
.portfolio-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.portfolio-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* LOCK SCREEN */
.portfolio-lock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lock-box {
  background: #111;
  padding: 2.5rem;
  border-radius: 12px;
  width: 100%;
  max-width: 360px;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

.lock-box h2 {
  margin-bottom: 10px;
}

.lock-box p {
  font-size: 0.9rem;
  margin-bottom: 20px;
  opacity: 0.8;
}

.lock-box input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  margin-bottom: 12px;
  color:#111;
}

.lock-box button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.lock-box button:hover {
  background: #1e40af;
}

.error {
  display: block;
  color: #f87171;
  margin-bottom: 10px;
}



