.description {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 90%;
  max-width: 600px;
  height: auto;
}

.podcastimage {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 102, 255, 0.479);
  overflow: hidden;
  width: 100%;
  height: 50%;
  transform: scale(0);
  transition: 0.3s ease;
}

.description:hover .overlay {
  transform: scale(1);
}

.text {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.puzzle-images img {
  transition: transform 0.5s ease;
}

.puzzle-images img:hover {
  transform: scale(1.1);
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
  animation-delay: 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  .description {
    width: 70%;
  }

  .text {
    font-size: 20px;
  }
}

